* {
  box-sizing: border-box;
  font-size: 50px;
}

body {
  margin: 0;
  font-size: 24px;
}

header {
  display: flex;
  border-bottom: 2px solid;
  padding: 10px 0;
}

.game {
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 50px;
  border: 1px solid gray;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
}

.grid div {
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: 1px solid gray;
}


.left-frogs {
  background-image: url("hedgehog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.right-frogs {
  background-image: url("hedgehog.png");
  transform:scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.left-woods {
  /* background-image: url(hedgehog); */
  background-color: hotpink;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.right-woods {
  /* background-image: url(https://gallery.kissclipart.com/20180906/psw/kissclipart-whack-a-mole-clip-art-clipart-whac-a-mole-clip-art-c1444edc7b73ee01.jpg); */
  background-color: red;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}
.safecross {
  background-image: url("grid.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-one {
  background-color: #654321;
}

.wm-two {
  background-color: #654321;
}

.wm-three {
  background-color: #654321;
}

.leafs {
  /* background-image: url(https://gallery.kissclipart.com/20180906/psw/kissclipart-whack-a-mole-clip-art-clipart-whac-a-mole-clip-art-c1444edc7b73ee01.jpg); */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.frog {
  /* background-image: url(https://gallery.kissclipart.com/20180906/psw/kissclipart-whack-a-mole-clip-art-clipart-whac-a-mole-clip-art-c1444edc7b73ee01.jpg); */
  background-color: green;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}
