* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-size: 24px;
  background-color: #fafafa;
}

header {
  display: flex;
  border-bottom: 2px solid;
  padding: 10px 0;
}

h1 {
  display: flex;
  font-size: 70px;
  color: darkgreen;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
}

h3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 30px;
  color: #454545;
  justify-content: right;
  font-family: 'Amatic SC', cursive;
  padding-left: 350px;
}

#time {
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

.game {
  width: 600px;
  height: 600px;
  margin: auto;
  padding-bottom: 2px;
  border: 1px solid #fafafa;
  padding: 10px;
}

.grid {
  width: 558px;
  height: 558px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #a9f22e;
}

.grid div {
  width: calc(100% / 9);
  height: calc(100% / 9);
  position: relative;
}


.left-hedgehogs {
  background-image: url("hedgehog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.right-hedgehogs {
  background-image: url("hedgehog.png");
  transform:scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.left-hedgehogs, .safecross.right-hedgehogs {
  background-image: none;
}

.left-woods {
  background-image: url("water.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.right-woods {
  background-image: url("water.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.scout {
  background-image: url("scout-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.scout[data-type="1"] {
  background-image: url("scout-two.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.scout[data-type="2"] {
  background-image: url("scout-three.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.scout[data-type="3"] {
  background-image: url("scout-four.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-one {
  background-image: url("left-wood.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-two {
  background-image: url("center-wood.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-three {
  background-image: url("right-wood.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tents {
  background-image: url("tent.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scout[data-type="0"].wm-one::before, .scout[data-type="0"].wm-two::before, .scout[data-type="0"].wm-three::before, .scout[data-type="0"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("scout-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scout[data-type="1"].wm-one::before, .scout[data-type="1"].wm-two::before, .scout[data-type="1"].wm-three::before, .scout[data-type="1"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("scout-two.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.scout[data-type="2"].wm-one::before, .scout[data-type="2"].wm-two::before, .scout[data-type="2"].wm-three::before, .scout[data-type="2"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("scout-three.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.scout[data-type="3"].wm-one::before, .scout[data-type="3"].wm-two::before, .scout[data-type="3"].wm-three::before, .scout[data-type="3"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("scout-four.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
