* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-size: 24px;
  background-color: #fafafa;
}

header {
  display: flex;
  border-bottom: 2px solid;
  padding: 10px 0;
}

h1 {
  display: flex;
  font-size: 70px;
  color: hotpink;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
}

h3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 30px;
  color: #454545;
  justify-content: right;
  font-family: 'Amatic SC', cursive;
  padding-left: 350px;
}

#time {
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

.game {
  width: 600px;
  height: 600px;
  margin: auto;
  padding-bottom: 2px;
  border: 1px solid #fafafa;
  padding: 10px;
}

.grid {
  width: 558px;
  height: 558px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffc7d1;
}

.grid div {
  width: calc(100% / 9);
  height: calc(100% / 9);
  position: relative;
}


.left-hedgehogs {
  background-image: url("stem-imgs/car-one.png");
  transform:scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.right-hedgehogs {
  background-image: url("stem-imgs/car-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.left-hedgehogs, .safecross.right-hedgehogs {
  background-image: none;
}

.right-woods, .right-hedgehogs, .left-woods, .left-hedgehogs {
  background-color: #C5C5C6;
}

.safecross.scout {
  background-image: url("stem-imgs/astronaut.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.scout[data-type="1"] {
  background-image: url("stem-imgs/scientist.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.scout[data-type="2"] {
  background-image: url("stem-imgs/engineer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.safecross.scout[data-type="3"] {
  background-image: url("stem-imgs/doctor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-one.left-woods {
  background-image: url("stem-imgs/bus-front.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-two.left-woods {
  background-image: url("stem-imgs/bus-center.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-three.left-woods {
  background-image: url("stem-imgs/bus-back.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-one.right-woods {
  background-image: url("stem-imgs/bus-back.png") !important;
  transform:scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-two.right-woods {
  background-image: url("stem-imgs/bus-center.png") !important;
  background-position: center;
  transform:scaleX(-1);
  background-repeat: no-repeat;
  background-size: contain;
}

.wm-three.right-woods {
  background-image: url("stem-imgs/bus-front.png") !important;
  transform:scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tents {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tents[data-tent="0"]{
  background-image: url("stem-imgs/rocket.png") !important;
}

.tents[data-tent="1"]{
  background-image: url("stem-imgs/lab.png") !important;
}


.tents[data-tent="2"]{
  background-image: url("stem-imgs/construction.png") !important;
}

.tents[data-tent="3"]{
  background-image: url("stem-imgs/hospital.png") !important;
}

.scout[data-type="0"].wm-one::before, .scout[data-type="0"].wm-two::before, .scout[data-type="0"].wm-three::before, .scout[data-type="0"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("stem-imgs/astronaut.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.scout[data-type="1"].wm-one::before, .scout[data-type="1"].wm-two::before, .scout[data-type="1"].wm-three::before, .scout[data-type="1"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("stem-imgs/scientist.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.scout[data-type="2"].wm-one::before, .scout[data-type="2"].wm-two::before, .scout[data-type="2"].wm-three::before, .scout[data-type="2"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("stem-imgs/engineer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.scout[data-type="3"].wm-one::before, .scout[data-type="3"].wm-two::before, .scout[data-type="3"].wm-three::before, .scout[data-type="3"].tents::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("stem-imgs/doctor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
